<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3>My Lists</h3>
    <%= link_to "Create a movie list", new_list_path %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4">
          <div class="card-category" >
            <%= link_to list.name, list_path(list) %>
          </div>
      </div>
    <% end %>
  </div>
</div>
